/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231;}

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Ricardo Rauch
   ========================================================================== */

	/*
		Variable Grid System.
		Learn more ~ http://www.spry-soft.com/grids/
		Based on 960 Grid System - http://960.gs/

		Licensed under GPL and MIT.
	*/

	/*
	  Forces backgrounds to span full width,
	  even if there is horizontal scrolling.
	  Increase this if your layout is wider.

	  Note: IE6 works fine without this fix.
	*/

	body {
	  min-width: 1008px;
	}

	/* Containers
	----------------------------------------------------------------------------------------------------*/
	.container_12 {
		margin-left: auto;
		margin-right: auto;
		width: 1008px;
	}

	/* Grid >> Global
	----------------------------------------------------------------------------------------------------*/


	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		display:inline;
		float: left;
		position: relative;
		margin-left: 20px;
		margin-right: 20px;
	}



	.push_1, .pull_1,
	.push_2, .pull_2,
	.push_3, .pull_3,
	.push_4, .pull_4,
	.push_5, .pull_5,
	.push_6, .pull_6,
	.push_7, .pull_7,
	.push_8, .pull_8,
	.push_9, .pull_9,
	.push_10, .pull_10,
	.push_11, .pull_11,
	.push_12, .pull_12 {
		position:relative;
	}


	/* Grid >> Children (Alpha ~ First, Omega ~ Last)
	----------------------------------------------------------------------------------------------------*/

	.alpha {
		margin-left: 0;
	}

	.omega {
		margin-right: 0;
	}

	/* Grid >> 12 Columns
	----------------------------------------------------------------------------------------------------*/


	.container_12 .grid_1 {
		width:44px;
	}

	.container_12 .grid_2 {
		width:128px;
	}

	.container_12 .grid_3 {
		width:212px;
	}

	.container_12 .grid_4 {
		width:296px;
	}

	.container_12 .grid_5 {
		width:380px;
	}

	.container_12 .grid_6 {
		width:464px;
	}

	.container_12 .grid_7 {
		width:548px;
	}

	.container_12 .grid_8 {
		width:632px;
	}

	.container_12 .grid_9 {
		width:716px;
	}

	.container_12 .grid_10 {
		width:800px;
	}

	.container_12 .grid_11 {
		width:884px;
	}

	.container_12 .grid_12 {
		width:968px;
	}




	/* Prefix Extra Space >> 12 Columns
	----------------------------------------------------------------------------------------------------*/


	.container_12 .prefix_1 {
		padding-left:84px;
	}

	.container_12 .prefix_2 {
		padding-left:168px;
	}

	.container_12 .prefix_3 {
		padding-left:252px;
	}

	.container_12 .prefix_4 {
		padding-left:336px;
	}

	.container_12 .prefix_5 {
		padding-left:420px;
	}

	.container_12 .prefix_6 {
		padding-left:504px;
	}

	.container_12 .prefix_7 {
		padding-left:588px;
	}

	.container_12 .prefix_8 {
		padding-left:672px;
	}

	.container_12 .prefix_9 {
		padding-left:756px;
	}

	.container_12 .prefix_10 {
		padding-left:840px;
	}

	.container_12 .prefix_11 {
		padding-left:924px;
	}



	/* Suffix Extra Space >> 12 Columns
	----------------------------------------------------------------------------------------------------*/


	.container_12 .suffix_1 {
		padding-right:84px;
	}

	.container_12 .suffix_2 {
		padding-right:168px;
	}

	.container_12 .suffix_3 {
		padding-right:252px;
	}

	.container_12 .suffix_4 {
		padding-right:336px;
	}

	.container_12 .suffix_5 {
		padding-right:420px;
	}

	.container_12 .suffix_6 {
		padding-right:504px;
	}

	.container_12 .suffix_7 {
		padding-right:588px;
	}

	.container_12 .suffix_8 {
		padding-right:672px;
	}

	.container_12 .suffix_9 {
		padding-right:756px;
	}

	.container_12 .suffix_10 {
		padding-right:840px;
	}

	.container_12 .suffix_11 {
		padding-right:924px;
	}



	/* Push Space >> 12 Columns
	----------------------------------------------------------------------------------------------------*/


	.container_12 .push_1 {
		left:84px;
	}

	.container_12 .push_2 {
		left:168px;
	}

	.container_12 .push_3 {
		left:252px;
	}

	.container_12 .push_4 {
		left:336px;
	}

	.container_12 .push_5 {
		left:420px;
	}

	.container_12 .push_6 {
		left:504px;
	}

	.container_12 .push_7 {
		left:588px;
	}

	.container_12 .push_8 {
		left:672px;
	}

	.container_12 .push_9 {
		left:756px;
	}

	.container_12 .push_10 {
		left:840px;
	}

	.container_12 .push_11 {
		left:924px;
	}



	/* Pull Space >> 12 Columns
	----------------------------------------------------------------------------------------------------*/


	.container_12 .pull_1 {
		left:-84px;
	}

	.container_12 .pull_2 {
		left:-168px;
	}

	.container_12 .pull_3 {
		left:-252px;
	}

	.container_12 .pull_4 {
		left:-336px;
	}

	.container_12 .pull_5 {
		left:-420px;
	}

	.container_12 .pull_6 {
		left:-504px;
	}

	.container_12 .pull_7 {
		left:-588px;
	}

	.container_12 .pull_8 {
		left:-672px;
	}

	.container_12 .pull_9 {
		left:-756px;
	}

	.container_12 .pull_10 {
		left:-840px;
	}

	.container_12 .pull_11 {
		left:-924px;
	}




	/* `Clear Floated Elements
	----------------------------------------------------------------------------------------------------*/

	/* http://sonspring.com/journal/clearing-floats */

	.clear {
	  clear: both;
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0;
	}

	/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

	.clearfix:before,
	.clearfix:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0;
	}

	.clearfix:after {
	  clear: both;
	}

	/*
	  The following zoom:1 rule is specifically for IE6 + IE7.
	  Move to separate stylesheet if invalid CSS is a problem.
	*/

	.clearfix {
	  zoom: 1;
	}
html{ -webkit-font-smoothing:antialiased; }


body{background: #d5d8dc url('/images/bg.png') fixed; }
p{font-size: 14px; line-height: 25px}

#container{background: white; padding: 20px 40px; box-shadow: 0 2px 2px rgba(0,0,0,.4); margin-top: 30px}

h1.logo{margin: 10px 0 22px 0}
h1.logo a{display: inline-block; background: url('/images/images.png') no-repeat 0 0; width: 170px; height: 56px;}



.slider{ color: #CCCCCC; margin-bottom: 30px}
.slider h2{color: white; font-size: 30px}
.slider p{line-height: 30px; font-size: 16px}

nav{float: right; margin-top: 22px}
nav ul {float: left;}
nav ul li{float: left; border-right: 1px solid #ccc; padding-right: 20px}
nav a{font-weight: bold; text-decoration: none; color: #333; font-size: 16px;  margin-left: 20px; padding-right: 10px}
nav a:visited{text-decoration: none; color: #333}
nav ul li {margin-top: 7px; }
h3{font-size: 20px;  color: #333; margin: 40px 0 30px 0}

.download{
	padding: 6px 30px;
	display: inline-block;
	border-radius: 100px;
	font-weight: bold;
	text-decoration: none;
	color: #314D51;
	text-transform: uppercase;
	background-color: #A5E4E8;
	background-image: -webkit-linear-gradient(#DBF5F6, #A5E4E8);
	background-image: -moz-linear-gradient(#DBF5F6 , #A5E4E8);
	background-image: -o-linear-gradient(#DBF5F6, #A5E4E8);
	box-shadow: 0 1px 2px black;
	text-shadow: 0 1px 0 white;
}
.code{font-family: Consolas; border: 1px solid #999;
	background-image: -webkit-gradient(linear, 0 0, 0 62, color-stop(0.612, #EFEFEF), to(#AFAFAF));
	background-image: -webkit-linear-gradient(#EFEFEF 61.2%, #AFAFAF);
	background-image: -moz-linear-gradient(#fff 61.2%, #f6f6f6);
	background-image: -o-linear-gradient(#fff 61.2%, #f6f6f6);
	box-shadow: 0 1px 2px rgba(0,0,0,.4);
}
.code ol{background: #0C1021; margin: 6px; padding: 10px 40px; color: #ACE9A5;  border: 1px solid rgba(255,255,255,.2);
	box-shadow: 0 0px 0 2px #0C1021;
}
.code ol li{line-height: 22px; color: #ABC1E9;}

.new {overflow: hidden; margin-top: 20px; border-bottom: 1px solid #f1f1f1}
.new:last-child{border-bottom: 0}
.new .date, .new .content {float: left;}
.new .date{border: 2px solid #ccc; border-radius: 100px;  padding: 18px 10px}
.new .content{width: 370px; margin-left: 20px; min-height: 70px;}
.new .content p{ font-size: 12px}
.new .content h4{margin-top: 0; font-size: 16px; margin-bottom: 10px}
.button-grey{
	border: 1px solid #999;
	color: #666;
	display: inline-block;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	background-image: -webkit-gradient(linear, 0 0, 0 26, color-stop(0.076, #f7f7f7), to(#d5d5d5));
	background-image: -webkit-linear-gradient(#f7f7f7 7.6%, #d5d5d5);
	background-image: -moz-linear-gradient(#f7f7f7 7.6%, #d5d5d5);
	background-image: -o-linear-gradient(#f7f7f7 7.6%, #d5d5d5);
	font-weight: bold;
	border-radius: 5px;
	text-shadow: 0 1px 0 white;
	padding: 6px 20px;
	float: right;
	margin-left: 30px;
	display: inline-block;
}

.screenshot{
		width: 464px;
		height: 281px;
		display: block;
		margin-top: 14px;
		float: right;
}

/* Features */
.feature{background-color: #FAE7CE; border: 1px solid #B5A795; float: left; width: 218px; margin-bottom: 20px; border-radius: 4px;  height: 150px}
/*.feature{
	background-image: -webkit-gradient(linear, 0 0, 0 158, color-stop(0.05, #f1f2f1), color-stop(0.063, #f0f2f0), color-stop(0.063, #eff0f3), color-stop(0.189, #edeef1), color-stop(0.189, #eef0ee), color-stop(0.215, #eef0ee), color-stop(0.215, #eeeef1), color-stop(0.278, #eceeec), color-stop(0.278, #ebecef), color-stop(0.335, #ebedeb), color-stop(0.335, #eaebee), color-stop(0.436, #e8eae9), to(#dedfde));
	background-image: -webkit-linear-gradient(#f1f2f1 5%, #f0f2f0 6.3%, #eff0f3 6.3%, #edeef1 18.9%, #eef0ee 18.9%, #eef0ee 21.5%, #eeeef1 21.5%, #eceeec 27.8%, #ebecef 27.8%, #ebedeb 33.5%, #eaebee 33.5%, #e8eae9 43.6%, #dedfde);
	background-image: -moz-linear-gradient(#f1f2f1 5%, #f0f2f0 6.3%, #eff0f3 6.3%, #edeef1 18.9%, #eef0ee 18.9%, #eef0ee 21.5%, #eeeef1 21.5%, #eceeec 27.8%, #ebecef 27.8%, #ebedeb 33.5%, #eaebee 33.5%, #e8eae9 43.6%, #dedfde);
	background-image: -o-linear-gradient(#f1f2f1 5%, #f0f2f0 6.3%, #eff0f3 6.3%, #edeef1 18.9%, #eef0ee 18.9%, #eef0ee 21.5%, #eeeef1 21.5%, #eceeec 27.8%, #ebecef 27.8%, #ebedeb 33.5%, #eaebee 33.5%, #e8eae9 43.6%, #dedfde);
	border: none;
}*/
.feature h4{text-align: center; margin: 10px 0}
.feature.margin{margin-right: 20px}
.feature icon{display: block; }
.feature icon{background: url('/images/images.png') no-repeat 0 -89px; margin: auto;}
.feature.issues icon{background: url('/images/images.png') no-repeat 0 -89px;
	width: 90px;
	height: 104px;
}

.feature.source icon{background: url('/images/images.png') no-repeat -136px -95px;
	width: 130px;
	height: 99px;
	margin-top: 14px;
}

.feature.key-management icon{background: url('/images/images.png') no-repeat -310px -95px;
		width: 70px;
		height: 111px;
}

.feature.projects icon{background: url('/images/images.png') no-repeat -412px -92px;
		width: 70px;
		height: 99px;
}

.small-feature{font-size: 14px; width: 220px;  float: left; height: 20px; margin-bottom: 30px}
.small-feature icon{
	display: inline-block;
	float: left;
	background: url('/images/images.png') no-repeat -191px -20px;
	width: 18px;
	height: 18px;
	margin-right: 10px;
}
.small-feature.margin{
margin-right: 20px;
}

.more-features{margin-top: 20px; float: left;  }
/* eo Features */

.grid_6.left{border-right: 1px solid #f1f1f1; margin-right: 0; padding-right: 21px; width: 462px;}

footer{text-align: center;}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

table.normal {
    width:100%;
}

table.normal td {
    padding:10px;
}

table.normal td {
    padding:10px;
}

a { color: #333}

/* Tables */
table {width:100%; border: 1px solid #DEE2E3; margin-bottom: 20px}
table thead{
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
        }
table  thead th{
    background-image: -webkit-gradient(linear, 0 0, 0 26, color-stop(0.076, #fefefe), to(#F6F7F8));
    background-image: -webkit-linear-gradient(#fefefe 7.6%, #F6F7F8);
    background-image: -moz-linear-gradient(#fefefe 7.6%, #F6F7F8);
    background-image: -o-linear-gradient(#fefefe 7.6%, #F6F7F8);
    margin: 0;
    font-weight: normal;
    font-weight: bold;
    text-align: left;
    color: #97A0A5;
}
td, th{ padding: .9em 1em; vertical-align: middle; }

table  thead .image{width:100px}
table  tr:hover, .listed_items tr.odd:hover{background-color:#FFFFCF}


table.social {
  border:none;
}

.container_12 {
  img {
    max-width:100%;
    padding: 3px;
    border: 1px solid #ddd;
    box-shadow: 0 0 3px #eee;
  }

  .companies_holder {
    padding: 21px;
    img {
      margin:17px;
      height:35px;
      border: none;
      box-shadow: none;
    }
  }

  .sponsors_holder {
    padding: 21px;
    img {
      margin-left: 20px;
      border: none;
      box-shadow: none;
    }
  }

  > h1 {
    border-bottom: 1px solid #EEE;
    line-height: 60px;
  }
}
