{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body>
  <div id="container" class="container_12 tk-proxima-nova">
    <header class="grid_12">
    <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/screenshots">Screenshots</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="http://blog.gitlabhq.com">Blog</a></li>
    </ul>
    <a href="http://demo.gitlabhq.com/" class="button-grey">Try the Demo!</a>
    </nav>
    <h1 class="logo"><a href="/"></a></h1>
    </header>

    {{ page.name }}

    {{ content | expand_urls: root_url }}

</div> <!--! end of #container -->

  <footer>
		<p>© 2012 gitlabhq.com All rights reserved.</p>
    <p>Hosting is sponsored by <a href="http://brightbox.com/">Brightbox</a></p>
  </footer>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-24810305-2']);
        _gaq.push(['_trackPageview']);

        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
     </script>
</body>
</html>
