<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>GITLAB: Self Hosted Git Management Application</title>
  <meta name="description" content="private git hosting solution">
  <meta name="keywords" content="git gitlab gitlabhq gitolite hosting">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="http://blog.gitlabhq.com/stylesheets/promo.css">
  <!-- end CSS-->

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except for Modernizr / Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
  <div id="container" class="container_12 tk-proxima-nova">
    <header class="grid_12">
    <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="http://blog.gitlabhq.com">Blog</a></li>
        <li><a href="http://blog.gitlabhq.com/screenshots">Screenshots</a></li>
        <li><a href="http://blog.gitlabhq.com/support">Support</a></li>
        <li><a href="/contact.html">Contact Us</a></li>
    </ul>
    <a href="/demo.html" class="button-grey">Try It</a>
    </nav>
    <h1 class="logo"><a href="/"></a></h1>
    </header>

    {{ page.name }}

    {{ content | expand_urls: root_url }}

</div> <!--! end of #container -->

  <footer>
		<p>© 2012 gitlabhq.com Inc. All rights reserved.</p>
  </footer>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-24810305-2']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
         </script>
</body>
</html>
