<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<title>GITLAB: Self Hosted Git Management Application</title>
<meta name="description" content="private git hosting solution">
<meta name="keywords" content="git gitlab gitlabhq gitolite hosting">
<meta name="author" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="{{ root_url }}/stylesheets/promo.css" media="screen, projection" rel="stylesheet" type="text/css">
<meta charset="utf-8">
