---
layout: promo
---

.slider.clearfix
  .grid_6
    %h2 Self Hosted Git Management
    %p Fast, secure and stable solution based on Ruby on Rails & Gitolite. Distributed under the MIT License.
    %p New release every month.
    %p
      %a.download{:href => "https://github.com/gitlabhq/gitlabhq"} Download Now
  .grid_6
    .screenshot.code{:style => "overflow:hidden"}
      %img{:src => "http://blog.gitlabhq.com/images/gitlab_promo.png", :style => "1px solid rgba(255, 255, 255, .2)", :width => "464"}/
/ .slider
#main.clearfix{:role => "main"}
  .grid_6.left
    %h3 Getting started instructions:
    .code
      %ol
        %li Setup Linux distro. Ubuntu/Debian OS recommended
        %li
          Visit
          %a{:href => "https://github.com/gitlabhq/gitlabhq/blob/stable/doc/installation.md", :style => "color:#fff" } this link for setup manual
        %li Follow all steps from manual
        %li Login to GITLAB and ssh key into profile
        %li Create a first project
        %li Push some code
        %li Enjoy!
    / .code
    %h3 News & Updates
    .new
      .date
        Sep
        21
      .content
        %h4 Gitlab 2.9 released
        %p omniauth support, prepared for gitolite v3, Emoji, more API and much more
    .new
      .date
        Aug
        22
      .content
        %h4 Gitlab 2.8 released
        %p Gitlab Flavored Markdown, Issues API, Application cleanup and much more
    .new
      .date
        Jul
        22
      .content
        %h4 Gitlab 2.7 released
        %p Inline diff, API, GIT HTTP, System Hooks, Issues Labels and much more
    .new
      .date
        Jun
        22
      .content
        %h4 Gitlab 2.6 released
        %p This release contains almost 200 commits and have a lot of major & minor improvements
    .new
      .date
        May
        22
      .content
        %h4 Gitlab 2.5 released. Git blame for file
        %p Git blame for file, better stability, bugfix, much more.
    .new
      .date
        Apr
        22
      .content
        %h4 Gitlab 2.4 released. Accept MR button
        %p Milestones, Accept MR, Responsive layout and much more.
    .new
      .date
        Mar
        22
      .content
        %h4 Gitlab 2.3 released
        %p Mysql support, Improved merge requests, Dashboard page, Search and much more in new release.
  .grid_6
    %h3 Features
    .feature.issues.margin
      %h4 Issues, Merge Requests
      %icon
    .feature.source
      %h4 Browse Source
      %icon
    .key-management.feature.margin
      %h4 SSH Key Management
      %icon
    .feature.projects
      %h4 Manage Projects
      %icon
    .more-features
      %span.small-feature.margin
        %icon
        Merge Requests
      %span.small-feature
        %icon
        Comments
      %span.small-feature.margin
        %icon
        Control Repository access
      %span.small-feature
        %icon
        Network Graph
      %span.small-feature.margin
        %icon
        Code snippets
      %span.small-feature
        %icon
        Administration
      %span.small-feature.margin
        %icon
        Wiki
      %span.small-feature
        %icon
        Issues
    / .more-features
    %br/
    %h3 Sponsors:
    %hr/
    %div
      %img{:src => "http://blog.gitlabhq.com/images/brightbox_logo.png"}

  .clearfix
  %div.companies_holder
    %h3#whouse Who is already use GITLAB?
    %img{:src => "./images/companies/phusion.png", :title => "Phusion"}/
    %img{:src => "./images/companies/brightbox.png", :title => "Brightbox"}/
    %img{:src => "./images/companies/solidstategroup.png", :title => "SolidState Group"}/
    %img{:src => "./images/companies/lovata.jpg", :title => "Lovata Group"}/
    %img{:src => "./images/companies/devsu.jpg", :title => "Devsu"}/
    %img{:src => "./images/companies/base_black.jpg", :title => "BaseBlack"}/
    %img{:src => "./images/companies/ipn.jpeg", :title => "IPN"}/
    %img{:src => "./images/companies/seesaw.png", :title => "Seesaw"}/
    %img{:src => "./images/companies/required.png", :title => "Required"}/
    %img{:src => "./images/companies/tr.png", :title => "Thomson Reuters"}/
    %img{:src => "./images/companies/11331-8449.jpg", :title => "Rackster"}/
    %img{:src => "./images/companies/coe.png", :title => "Center of Energy efficiency automation"}/
    %img{:src => "./images/companies/msu2.png", :title => "Michigan State University"}/
    %img{:src => "./images/companies/mlsdev.png", :title => "MLSDev"}/
    %img{:src => "./images/companies/srmvision.png", :title => "SRM Vision"}/
    %img{:src => "./images/companies/a2design.png", :title => "A2 design"}/
    %img{:src => "./images/companies/seegno.png", :title => "Seegno"}/
    %img{:src => "./images/companies/iteisa.png", :title => "iteisa"}/
    %img{:src => "./images/companies/collabmate.png", :title => "collabmate"}/
    
  %hr/
  %br
  %div
    %iframe{ :src => "http://ghbtns.com/github-btn.html?user=gitlabhq&repo=gitlabhq&type=watch&count=true", :allowtransparency => "true", :frameborder => "0", :scrolling => "0", :width => "115px", :height => "20px"}
    %iframe{ :src => "http://ghbtns.com/github-btn.html?user=gitlabhq&repo=gitlabhq&type=fork&count=true", :allowtransparency => "true", :frameborder => "0", :scrolling => "0", :width => "115px", :height => "20px"}
    %a.twitter-follow-button{"data-show-count" => "false", :href => "https://twitter.com/gitlabhq"} Follow @gitlabhq
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    &nbsp;
    %a.FlattrButton{:href => "http://gitlabhq.com", :rev => "flattr;button:compact;", :style => "display:none;"}
      %noscript
        %a{:href => "http://flattr.com/thing/813163/GITLAB-Self-Hosted-Git-Management-Application", :target => "_blank"}
          %img{:alt => "Flattr this", :border => "0", :src => "http://api.flattr.com/button/flattr-badge-large.png", :title => "Flattr this"}/
    &nbsp;
    %a{:href => "http://www.pledgie.com/campaigns/17027"}
      %img{:alt => "Click here to lend your support to: GitLab HQ and make a donation at www.pledgie.com !", :border => "0", :src => "http://www.pledgie.com/campaigns/17027.png?skin_name=chrome"}/

:css
  #container {
    background: #fff url("http://blog.gitlabhq.com/images/bg-slide.png") 0 110px no-repeat;
  }

:javascript
  (function() {
    var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
    s.type = 'text/javascript';
    s.async = true;
    s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
    t.parentNode.insertBefore(s, t);
   })();
